{% load static %}
{% load dictionary %}

<div class="row">
    <div class="col-sm-7">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img src="{% static 'assets/trackie/img/cyclist.svg' %}" class="cyclist" alt="cyclist" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center cyclist-text">
                .find.watch.enjoy
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="well">
            <form name="registrationForm" id="registration-form" data-ng-submit="register(username, password1, password2, email)">
                {% csrf_token %}
                <div class="form-group" id="id_non_field_errors"></div>
                {% for field in form %}
                    {% with model_name=field.field.widget.attrs|get_item:'data-ng-model' %}
                    <div class="form-group" data-ng-class="{ 'has-error' : registrationForm.{{ model_name }}.$invalid && !registrationForm.{{ model_name }}.$pristine, 'has-success' : registrationForm.{{ model_name }}.$valid && !registrationForm.{{ model_name }}.$pristine }">
                        <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endwith %}
                {% endfor %}
                <div class="form-group">
                   <button type="submit" data-ng-disabled="registrationForm.$invalid" class="btn btn-primary">Registrovať sa</button>
                </div>
            </form>
        </div>
    </div>
</div>