{% load static %}

<div class="row">
    <div class="col-sm-7">
        <div class="row">
            <div class="col-xs-12 text-center">
                <img src="{% static 'assets/trackie/img/cyclist.svg' %}" class="cyclist" alt="cyclist" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center cyclist-text">
                .find.watch.enjoy
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="well">
            <form name="registrationForm" data-ng-submit="register()">
                {% csrf_token %}
                <div class="form-group" id="non_field_errors"></div>
                {% for field in form %}
                    <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                    {{ field }}
                    </div>
                {% endfor %}
                <div class="form-group">
                   <button type="submit" ng-disabled="registrationForm.$invalid" class="btn btn-primary">Registrovať sa</button>
                </div>
            </form>
        </div>
    </div>
</div>