{% load static %}
<div class="row" data-ng-show="tournaments">
    <div class="col-xs-12">
        <div class="page-header" style="margin-top: 0;">
            <h1 style="margin-top: 0;">Turnaje</h1>
        </div>
    </div>
</div>
<div class="row" data-ng-show="tournaments">
    <div class="col-sm-12">
        <div data-ng-if="grid.data.length" ui-grid="grid" data-ui-grid-pagination data-ui-grid-auto-resize class="grid"></div>
        <div data-ng-if="!grid.data.length">Žiadne turnaje</div>
    </div>
</div>