{% load static %}
<div class="row" data-ng-show="raceTypes">
    <div class="col-xs-12">
        <div class="page-header" style="margin-top: 0;">
            {% verbatim %}
            <h1 data-ng-if="type" style="margin-top: 0;">{{ type | capitalize }} polia pre preteky</h1>
            <h1 data-ng-if="!type" style="margin-top: 0;">Polia pre preteky</h1>
            {% endverbatim %}
        </div>
    </div>
</div>
<div class="row" data-ng-show="raceTypes">
    <div class="col-sm-12">
        <div data-ng-if="grid.data.length" ui-grid="grid" data-ui-grid-pagination data-ui-grid-auto-resize class="grid"></div>
        <div data-ng-if="!grid.data.length">Žiadne polia pre preteky</div>
    </div>
</div>