.position-relative {
    position: relative;
}

.bold-text {
    font-weight: bold;
}

.underline-text {
    text-decoration: underline;
}

.header-logo {
    height: 100%;
}

.cyclist {
    height: 400px;
}

.cyclist-text {
    color: #e74c3c;
    font-family: sans-serif;
    font-size: 40px;
}

.searchbar-text {
    padding-right: 35px;
    width: 150px;
}

.searchbar-button {
    background: none;
    border: none;
    height: 34px;
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
}

main {
    margin-top: 58px;
}

footer {
    background-color: #f4f4f4;
    border-top: 1px solid #e3e3e3;
}

footer .row {
    padding-top: 1em;
}

footer ul.footer-menu {
    padding-left: 1em;
}

footer ul.footer-menu li {
    list-style: none;
}

form .error {
    color: #d9230f;
}

/* Sticky footer */
html {
    height: 100%;
}

.sticky-body {
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}

.sticky-content {
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin-bottom: 15px;
    width: 100%;
}

.sticky-content::after {
    content: "\00a0";
    display: block;
    height: 0;
    visibility: hidden;
}

/* End sticky footer */

/* ui-grid */
.grid {
    margin-top: 15px;
}

/* End ui-grid */

/* ol-sidebar2 */
.sidebar.sidebar-left {
    margin-left: 15px;
    z-index: 10;
    box-sizing: content-box;
}

.ol-zoom {
    margin-left: 55px;
}
/* End old-sidebar2 */
