.position-relative {
    position: relative;
}

.bold-text {
    font-weight: bold;
}
.underline-text {
    text-decoration: underline;
}

#header-logo {
    height: 100%;
}

#cyclist {
    height: 400px;
}

#cyclist-text {
    font-family: sans-serif;
    font-size: 40px;
    color: #e74c3c;
}

.searchbar-text {
    width: 150px;
    padding-right: 35px;
}

.searchbar-button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    height: 34px;
    width: 34px;
    position: absolute;
    right: 0;
    top: 0;
}

main {
    margin-top: 65px;
}

footer {
    background-color: #f4f4f4;
    border-top: 1px solid #e3e3e3;
}

footer .row {
    padding-top: 1em;
}

footer ul.footer-menu {
    padding-left: 1em;
}

footer ul.footer-menu li {
    list-style: none;
}

/* Sticky footer */
html {
    height: 100%;
}

.sticky-body {
    display: flex;
    height: 100%;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.sticky-content {
    margin-bottom: 15px;
    width: 100%;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}

.sticky-content::after {
    content: "\00a0";
    display: block;
    height: 0;
    visibility: hidden;
}

/* End sticky footer */