{% load static %}

{% verbatim %}
<div class="row" data-ng-show="race">
    <div class="col-xs-12">
        <h3 style="margin-top:0;">{{ race.name }}</h3>
        <a data-ng-href="#/race-type/{{ race.type.slug }}" target="_self">{{ race.type.name }}</a> -
        <a data-ng-href="#/tournament/{{ race.tournament.slug }}" target="_self">{{ race.tournament.name }}</a> -
        <a data-ng-href="#/sport/{{ race.tournament.sport.slug }}" target="_self">{{ race.tournament.sport.name }}</a>
    </div>
</div>
<div class="row" data-ng-show="race">
    <div class="col-xs-12">
        <div id="sidebar" onclick="event.preventDefault();" class="sidebar collapsed">
            <div class="sidebar-tabs">
                <ul role="tablist">
                    <li><a href="#profile" target="_self" role="tab"><i class="fa fa-user"></i></a></li>
                </ul>
                <ul role="tablist">
                    <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
                </ul>
            </div>
            <div class="sidebar-content">
                <div class="sidebar-pane" id="profile">
                    <h1 class="sidebar-header">Pretekár<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                    <div data-ng-include="'partials/racer/detail_sidebar.html'"></div>
                </div>
            </div>
        </div>
        <div class="map-end" data-ng-show="endOfRace">
            <div class="map-end-background"></div>
            <div class="bg-warning">
                <div class="text-end">
                    <div>Živý prenos bol ukončený</div>
                    <div style="line-height: 30px">
                        <button data-ng-click="replay();" class="btn btn-primary">Sledovať záznam</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="map" class="map map-with-sidebar"></div>
    </div>
    <div class="col-xs-12">
        <player data-ng-show="showPlayer"></player>
    </div>
    {% endverbatim %}
</div>
<div class="row" data-ng-if="gridOptions.data.length">
    <div class="col-xs-12">
        <div ui-grid="gridOptions" data-ui-grid-selection data-ui-grid-pagination class="grid"></div>
    </div>
</div>
