<div class="row">
    <div class="col-xs-12">
        <div class="well">
            <form name="profileForm" id="profile-form" data-ng-submit="updateProfile(username, password1, password2, email)">
                {% csrf_token %}
                <div class="form-group" id="id_non_field_errors"></div>
                {% for field in form %}
                    {% with model_name=field.field.widget.attrs|get_item:'data-ng-model' %}
                    <div class="form-group" data-ng-class="{ 'has-error' : profileForm.{{ model_name }}.$invalid && !profileForm.{{ model_name }}.$pristine, 'has-success' : profileForm.{{ model_name }}.$valid && !profileForm.{{ model_name }}.$pristine }">
                        <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endwith %}
                {% endfor %}
                <div class="form-group">
                   <button type="submit" data-ng-disabled="profileForm.$invalid" class="btn btn-primary">Upraviť</button>
                </div>
            </form>
        </div>
    </div>
</div>