<div class="row">
    <div class="col-xs-12">
        <div class="page-header" style="margin-top: 0;">
            <h1 style="margin-top: 0;">Upraviť profil</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="well">
            {% with form_name="profileForm" %}
                <form name="{{ form_name }}" id="profile-form" data-ng-submit="updateProfile()">
                    {% include "macro/form.html" %}
                    <div class="form-group">
                       <button type="submit" data-ng-disabled="{{ form_name }}.$invalid" class="btn btn-primary">Upraviť</button>
                    </div>
                </form>
            {% endwith %}
            {% verbatim %}
            <div data-ng-include="password_partial"></div>
            {% endverbatim %}
        </div>
    </div>
    <div class="col-xs-6 text-center" data-ng-if="api_token">
        {% verbatim %}
        <div class="row">
            <div class="col-xs-12"><h3>API kľúč</h3></div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-warning">{{ api_token.token }}</div>
        </div>
        {% endverbatim %}
    </div>
</div>