<div class="row">
    <div class="col-xs-12">
        <div class="page-header" style="margin-top: 0;">
            {% verbatim %}
            <h1 style="margin-top: 0;">{{ racer.first_name }} {{ racer.last_name }}<small>Upraviť pretekára</small></h1>
            {% endverbatim %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="well">
            {% with form_name="racerForm" %}
            <form name="{{ form_name }}" id="racer-form" data-ng-submit="updateRacer()">
                {% include "macro/form.html" %}
                <div class="form-group">
                   <button type="submit" data-ng-disabled="{{ form_name }}.$invalid" class="btn btn-primary">Upraviť</button>
                </div>
            </form>
            {% endwith %}
        </div>
    </div>
</div>
